<div class="auth-block">
    <h1>Sign up to Shop Admin</h1>
    <a ui-sref="login" class="auth-link">Already have a Shop account? Sign in!</a>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="vm.user.FirstName" id="firstName" placeholder="First Name">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="lastName" ng-model="vm.user.LastName" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>

            <div class="col-sm-9">
                <input type="email" class="form-control" id="email" ng-model="vm.user.UserName" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="phoneNumber" class="col-sm-3 control-label">Phone</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="phoneNumber" ng-model="vm.user.UserPhoneNumber" placeholder="Phone">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>

            <div class="col-sm-9">
                <input type="password" class="form-control" id="password" ng-model="vm.user.Password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" ng-click="vm.register()" class="btn btn-default btn-auth">Sign up</button>

            </div>
        </div>
        <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
    </form>
</div>