<div class="error-msgs">
    <!-- Show error messages (typically a reusable directive) -->
    <div class="alert alert-danger alert-dismissable" ng-repeat="msg in errorHandler.errors track by $index">
        <button type="button" class="close" ng-click="errorHandler.errors.splice($index, 1)">&times;</button>
        {{msg}}
    </div>
    <button type="button" class="btn btn-sm btn-default" ng-click="errorHandler.errors.length = 0;" ng-show="errorHandler.errors.length">Clear all messages</button>
</div>