
<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Shop List" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="form-group select-page-size-wrap ">
                        <div class="add-row-editable-table">
                            <button class="btn btn-primary" ng-click="vm.addShop()">Create</button>
                        </div>
                    </div>
                    <table class="table" st-table="vm.shops" st-safe-src="vm.displayShops">
                        <thead>
                        <tr class="sortable">
                            <th st-sort="ShopName">Shop Name</th>
                            <th st-sort="ShopDescription">Description</th>
                            <th st-sort="ShopAddress">Address</th>

                            <th></th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr ng-repeat="shop in vm.displayShops">
                            <td>{{shop.ShopName}}</td>
                            <td>{{shop.ShopDescription}}</td>
                            <td>{{shop.ShopAddress}}</td>

                            <td>
                                <button class="btn btn-default btn-rounded btn-sm" ng-click="vm.editShop(shop.ShopId)"><span class="fa fa-pencil"></span></button>
                                <button class="btn btn-danger btn-rounded btn-sm" ng-click="vm.deleteShop(shop.ShopId)"><span class="fa fa-times"></span></button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="vm.shopPageSize"
                                     st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>