.ngdialog.ngdialog-theme-default.dlg-table-order{
  padding-top: 15px;
  .ngdialog-content{
    width: 80%;
  }
  .search-bar{
    .form-group{
      margin-bottom: 0;
    }
  }
  .ordered-bar{
    //background-color: #cecece;
    //padding: 5px;
    //border-radius: 5px;
    p{
      margin-bottom: 0;
      line-height: 34px;
      height: 34px;
      display: block;
    }
    .total-items, .total-costs{
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  .product-list{
    margin-top: 10px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
    &-selected{
      border: solid 1px #646464;
      box-shadow: 2px 2px 5px #646464;
      border-radius: 5px;
      background-color: #fff;
    }
    .product-item{
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px #ccc;
      cursor: pointer;
      &:last-child{
        border-bottom: 0;
      }
      &:hover{
        background-color: #ccc;
      }

      img{
        max-height: 120px;
      }
      .name{
        font-weight: bold;
      }
    }
  }
}