<div>
    <h4> Adding products to shops</h4>
</div>

<div>
    <tags-input ng-model="vm.prodTags" display-property="ProductName">
        <auto-complete source="vm.loadProdTags($query)"></auto-complete>
    </tags-input>

</div>

<br>


<div>
    <h4> Select a shop</h4>
</div>

<div class="form-group">
    <select class="form-control" data-live-search="true" title="Select shop"
            ng-model="vm.shopSelectedItem"
            ng-options="item as item.label for item in vm.shopSelectItems"
            ng-change="">

    </select>

    <br>
    <br>
    <button class="btn btn-primary" ng-click="vm.addProductToShopCancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="vm.addProductToShop()">Submit</button>
</div>

