<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div
                    ba-panel
                    ba-panel-title="Edit Product"
                    ba-panel-class="with-scroll">
                <form class="form-horizontal" name="ProductForm">
                    <div class="form-group">
                        <label for="ProductName" class="col-sm-2 control-label">Product Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="vm.product.ProductName" id="ProductName"
                                   placeholder="Product Name" required>
                        </div>
                    </div>
                   <!-- <div class="form-group">
                        <label for="ProductImage" class="col-sm-2 control-label">Image</label>
                        <div class="col-sm-9">
                            <div class="userpic">
                                <div class="userpic-wrapper">
                                    <img ng-src="{{vm.ImagePath}}{{ vm.product.ProductImage }}" ng-click="vm.uploadPicture()">
                                </div>
                                <i class="ion-ios-close-outline" ng-click="vm.removePicture()" ng-if="!noPicture"></i>
                                <a href class="change-userpic" ng-click="vm.uploadPicture()">Change Profile Picture</a>
                                <input id="ProductImage" ng-show="false" type="file" ngf-select="vm.uploadFiles($file, $invalidFiles)"
                                        accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                            </div>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-10">
                            <select class="form-control" title="Select Category"
                                    ng-model="vm.product.CategoryId"
                                    ng-options="item.CategoryId as item.CategoryName for item in vm.categories">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ProductDescription" class="col-sm-2 control-label">Product Description</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="ProductDescription"
                                      ng-model="vm.product.ProductDescription"
                                      placeholder="Product Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ProductPrice" class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="number" class="form-control with-success-addon" id="ProductPrice"
                                       placeholder="Price" aria-label="amount" ng-model="vm.product.ProductPrice">
                                <span class="input-group-addon addon-right input-group-addon-success">VND</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-success" ng-click="vm.saveProduct(ProductForm)">
                                Save
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>