<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div
                    ba-panel
                    ba-panel-title="Edit Product"
                    ba-panel-class="with-scroll">
                <form class="form-horizontal" name="ValidationForm">
                    <div class="form-group">
                        <label for="ProductName" class="col-sm-2 control-label">Product Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="vm.product.ProductName" id="ProductName" placeholder="Product Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ProductImage" class="col-sm-2 control-label">Image</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="ProductImage" class="file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-10">
                            <select class="form-control selectpicker" selectpicker title="Select Category"
                                    ng-model="vm.product.CategoryId"
                                    ng-options="item.CategoryId as item.CategoryName for item in vm.categories">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ProductDescription" class="col-sm-2 control-label">Product Description</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="ProductDescription" ng-model="vm.product.ProductDescription"
                                      placeholder="Product Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ProductPrice" class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="number" class="form-control with-success-addon" id="ProductPrice" placeholder="Price" aria-label="amount" ng-model="vm.product.ProductPrice">
                                <span class="input-group-addon addon-right input-group-addon-success">VND</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-click="vm.saveProduct()" class="btn btn-warning">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>