<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Product List" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="form-group select-page-size-wrap ">
                        <!--<label>Rows on page-->
                        <!--<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker-->
                        <!--ng-model="vm.productPageSize" ng-options="i for i in [5,10,15,20,25]">-->
                        <!--</select>-->
                        <!--</label>-->
                        <div class="add-row-editable-table">
                            <button class="btn btn-primary" ng-click="vm.addProduct()">Create</button>
                        </div>
                    </div>
                    <table class="table" st-table="vm.displayedData" st-safe-src="vm.products">
                        <thead>
                        <tr class="sortable ">
                            <th st-sort="ProductName">Product Name</th>
                            <th st-sort="ProductDescription">Description</th>
                            <th st-sort="CategoryId">Category</th>
                            <th st-sort="ProductPrice">Price</th>
                        </tr>
                        <tr>
                            <th><input st-search="ProductName" placeholder="Search Product Name"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="ProductDescription" placeholder="Search Description"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="CategoryId" placeholder="Search Category"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="ProductPrice" placeholder="Search Price"
                                       class="input-sm form-control search-input" type="search"/>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.displayedData" ng-click="vm.viewProduct(item)">
                            <td>{{item.ProductName}}</td>
                            <td>{{item.ProductDescription}}</td>
                            <td>{{item.CategoryId}}</td>
                            <td>{{item.ProductPrice}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="vm.productPageSize"
                                     st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>