<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Staff Assignments List" ba-panel-class="with-scroll">
                <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <td></td>
                        <td>Staff Name</td>
                        <td>Username</td>
                        <td>Phone</td>
                        <td>Staff Role</td>
                        <td>Assigned Shops</td>
                        <td>Actions</td>
                    </tr>
                    <tr ng-repeat="staff in vm.assignments track by $index">
                        <td>
                            {{$index}}
                        </td>
                        <td>
                            {{staff.StaffFullName}}
                        </td>
                        <td>
                            {{ staff.UserName || 'empty' }}

                        </td>
                        <td>

                            {{ staff.UserPhoneNumber }}

                        </td>
                        <td>

                            {{CONSTANT.STAFF_ROLE_MAP[staff.RoleCode]}}

                        </td>
                        <td>
                            <div>
                                <tags-input ng-model="vm.staffAssignedShops[staff.UserKey]"
                                            display-property="ShopName"
                                            key-property="ShopId"
                                            placeholder="Type shop name"
                                            on-tag-adding="vm.assignStaffToShop(staff.UserKey, $tag)"
                                            on-tag-removing="vm.unassignStaffFromShop(staff.UserKey, $tag)">
                                    <auto-complete source="vm.loadShopTags($query)" load-on-empty="true"></auto-complete>
                                </tags-input>

                            </div>

                        </td>


                        <td>

                            <div class="buttons">
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        ng-click="vm.unassignStaff(staff.UserKey)">
                                    Unassign
                                </button>
                            </div>
                        </td>
            </div>
            </table>

        </div>
    </div>
</div>
</div>