<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Staff Assignments List" ba-panel-class="with-scroll">
                <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <td></td>
                        <td>Staff Name</td>
                        <td>Username</td>
                        <td>Phone</td>
                        <td>Shop name</td>
                        <td>Roles</td>
                        <td>Actions</td>
                    </tr>
                    <tr ng-repeat="staff in vm.assignments">
                        <td>
                            {{$index}}
                        </td>
                        <td>
                            {{staff.StaffFullName}}
                        </td>
                        <td>
                            {{ staff.UserName || 'empty' }}

                        </td>
                        <td>

                            {{ staff.UserPhoneNumber }}

                        </td>
                        <td>

                            {{ staff.ShopName }}

                        </td>
                        <td>


                            <div ng-repeat="role in staff.Roles">
                                {{role.RoleName}}

                            </div>

                        </td>

                        <td>

                            <div class="buttons">
                                <button type="button" class="btn btn-success" data-toggle="modal"
                                        ng-click="vm.openAssignmentPopup('app/pages/staff/assignments/assignStaffModal.html', 'lg', staff)">
                                    Assign
                                </button>
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        ng-click="vm.unassignStaff(staff.UserKey)">
                                    Unassign
                                </button>
                            </div>
                        </td>
            </div>
            </table>

        </div>
    </div>
</div>
</div>